 body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: rgba(250,250,250) 
 }
 .logo-image {
     width: 190px;
     height: 78px;
     overflow: hidden;
     margin-top: 5px;
 }
.nav-link {
    color: rgba(0,0,0,.54);
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 70px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
 }
.got img {
    width: 600px;
    height: auto;
    margin-top: 50px;
    border-radius: 50px;
}
.desc h3 {
    color: #443c62;
    margin-top: 100px;
    visibility: visible;
    font-size: 40px;
    line-height: 60px;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.desc p{
    color: #8488c0;
    margin-left: 20px;
    margin-top: 50px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.jumbotron{
    background-color: rgba(250,250,250);
}

.home-menu{
   margin-bottom: 100px;
}
.jumbotron h5{
    color: #8488c0; 
}
.jumbotron h4{
    color: #443c62;
}
.jumbotron h1{
    color: #556bff;
}

#home{
    height: 100vh;
    width: 100%;
}

.location{
    margin-top: 30px;
}

.frame{
    box-shadow: 2px 2px 2px #888;
    border-radius: 20px;
    width: 100%;
}

#contact{
    background-color: whitesmoke;
}

#contact .container{
    padding-top: 120px;
    font-size: 
}

.contact-sec{
    padding-top: 50px;
    padding-bottom: 120px;
}