html{
    scroll-behavior: smooth;
}
.nav-link:hover{
      border-bottom: 5px solid #4285F4;
}

.nav-link.active{
          border-bottom: 5px solid #4285F4;

}

.about-main .jumbotron-fluid{
    background: url('https://i.imgur.com/6wArtVp.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



#about h1{
    color: #4285F4;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    font-family: Roboto,"Helvetica Neue",sans-serif;}

#aboutContent{
    padding-top: 20px;
}

.about-img{
    text-align: center;
}
#about .row{
    padding-top: 50px;
}

#aboutText{
    padding-top: 55px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 2px;
    color: lightgrey;
}


.aboutLogo{
    width: 400px;
    height: auto;
}

#projects{
    background-color: rgb(250,250,250);
    
    
}

#projects h1{
    padding-top: 0px;
    margin-top: -230px;
}

#projects .row{
    padding-top: 50px;
}

.projectsSection{
    margin-top: -280px;
}

.projectsRow1{
    padding-top: 50px;
}

.projectsRow{
    padding-top: 30px;
}

#project-text{
    padding-top: 30px;
     font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: #8488c0;
}

#project-text-mb{
    display: none;
}



#projectHeader{
    text-align: center;
    color: #4285F4!important;
    font-weight: 400;
    text-transform: uppercase;
}



#setImg{
     margin-left: -350px;
    margin-top: -60px;
    width: 820px;
    height: auto;
}

.decImg{
    text-align: end;
}

#leaf{
    margin-top: -250px;
    width: 700px;
    height: auto;
}

.aboutBttn{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 140px;
}

.abtBttn{
    background-image: linear-gradient(90deg, #EA4335 , #4285F4);
    border: 0;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    font-size: 22px;
    letter-spacing: 2px;
}

.abtBttn1{
    background-image: linear-gradient(90deg, #EA4335 , #4285F4);
    border: 0;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
}

.abtBttn a{
    text-decoration: none;
    color: lightgray;
}

.abtBttn a:hover{
    color: white;
}

.card-body a{
    text-decoration: none;
    color: lightgray;
}

.card-body a:hover{
    color: white;
}

#contact h1{
    color:  #4285F4;
    text-transform: uppercase;
}

.address{
    font-size: 22px;
}

.mail{
    font-size: 22px;
    margin-left: -150px;
}

.ico{
    font-size: 45px;
}

.add-txt{
    padding-left: 20px;
    margin-top: -30px;
    
}

.add-txt a{
    text-decoration: none;
    color: black;
}

.add-txt a:hover{
    color: #0F9D58
}

.social-ico{
    font-size: 18px;
}

@media (max-width:600px){
    
    #about{
   
    height: 1000px;
    width: 100%;
}
    
    
    #about{
        margin-top: 300px;
    }
    
    #about h1{
        font-size: 45px;
        text-transform: none;
    }
    
    .about-main{
        margin-top: -200px;
    }
    
    #projectHeader{
    font-size: 50px;
    text-align: center;
    color: blueviolet;
    font-weight: 350;
    text-transform: none;
}
    
#project-text{
    padding-top: 10px;
     font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.4px;
    display: block;
}
    #setImg{
        margin-left: 0px;
        margin-top: 0px;
       display: none;
}

#leaf{
    margin-top: 0px;
    display: none;
}
    
    #project-text-mb{
        display: block;
    }
    
    #project-text-sm{
        display: none;
    }
    
    #projects h1{
    padding-top: 50px;
        margin-top: 0px;

}
    
    #contact h1{
        font-size: 40px;
        text-transform: none;
        font-weight: 350px;
    }
    
    .address{
    font-size: 16px;
}

.mail{
    font-size: 16px;
    margin-left: 0px;
}

.ico{
    font-size: 45px;
}

.add-txt{
    padding-left: 20px;
    margin-top: -30px;
    
}
    
.nav-link:hover{
      border-bottom: none;
}
    
.nav-link.active{
          border-bottom: none;

}
    
    #work h1{
        font-size: 40px;
        text-transform: none;
        
    }
}






